@page
@model Csharp3_A1.Pages.Staff.StaffDashboardModel
@{
	ViewData["Title"] = "Staff Dashboard";
}

<ul ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" data-bs-toggle="tab" href="#tab1">Dashboard</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" href="#tab2">Patients</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" href="#tab3">Appointments</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" href="#tab4">Reports</a>
	</li>
</ul>

<div class="tab-content mt-3">
	<div class="tab-pane fade show active" id="tab1">
		<!-- Dashboard content-->
	</div>
	<div class="tab-pane" id="tab2">
		<!-- Patients content -->
	</div>
	<div class="tab-pane" id="tab3">
		<!-- Appointments content -->
	</div>
	<div class="tab-pane" id="tab4">
		<!-- Reports content -->
	</div>
</div>