<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Csharp3_A1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Csharp3_A1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Top Header -->
        <nav class="navbar navbar-light bg-white fs-6">
            <div class="container d-flex align-items-center flex-nowrap">
                
                <!-- Logo -->
                <img src="images/logos/hospital_logo.jpg" 
                     class="img-fluid rounded me-3"
                     alt="Hospital logo"
                     style="width: 50px; height: auto"/>

                <!-- Top Header title -->
                <a class="navbar-brand" asp-area="" asp-page="/Index">Hospital Management System</a>

                <!-- Center: Search -->
                <form class="d-flex mx-auto flex-nowrap">
                    <input class="form-control me-2" type="search" placeholder="Search" />
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>

                <!-- Right: Language, login, staff -->
                <div class="d-flex ms-auto flex-nowrap">
                    <!-- Language -->
                    <select class="form-select me-2" aria-label="Select language">
                        <option selected>English</option>
                        <option value="1">Swedish</option>
                    </select>
                    <!-- Login -->
                    <button class="btn btn-outline-secondary me-2" aria-label="Patient login">Login</button>
                    <!-- Staff -->
                    <button class="btn btn-outline-success" aria-label="Staff login">Staff</button>
                </div>
            </div>
        </nav>
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info bg-opacity-25 fs-6 border-bottom box-shadow mb-3">
            <div class="container">

                <!-- Burger setup if small window -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <!-- Burger target / menu -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-center w-100">

                        <!-- Life & Health nested dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="lifeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Life & Health</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Exercise</a></li>
                                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                                <li><a class="dropdown-item" href="#">Wellness</a></li>
                            </ul>
                        </li>

                        <!-- Child & Pregnant nested dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="childPregDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Child & Pregnant</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Child</a></li>
                                <li><a class="dropdown-item" href="#">Pregnant</a></li>
                            </ul>
                        </li>

                        <!-- Diseases & Ailments nested dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="disAilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Diseases & Ailments</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Diseases</a></li>
                                <li><a class="dropdown-item" href="#">Ailments</a></li>
                            </ul>
                        </li>

                        <!-- Accidents & Injuries nested dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accInjDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Accidents & Injuries</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Accidents</a></li>
                                <li><a class="dropdown-item" href="#">Injuries</a></li>
                            </ul>
                        </li>

                        <!-- Examination & Treatment nested dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="exaTreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Examination & Treatment</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Examination</a></li>
                                <li><a class="dropdown-item" href="#">Treatment</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            <div class="container mt-3">
                <div class="row">

                    <!-- Content -->
                    <div class="col">
                        @RenderBody()
                    </div>

                    <!-- News -->
                    <div class="col-3">
                        <div class="news-section p-3 bg-info bg-opacity-25 p-3 border rounded">
                            <h4>News</h4>
                            <div class="mb-3">
                                <a href="#" class="text-decoration-none text-dark">
                                    <img src="images/news/news_hospital_img1.jpg" class="img-fluid rounded mb-2" alt="News 1" />
                                    <h6>Rabies finally cured</h6>
                                </a>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="text-decoration-none text-dark">
                                    <img src="images/news/news_hospital_img2.jpg" class="img-fluid rounded mb-2" alt="News 2" />
                                    <h6>Screen-induced sadness prevalent among teachers</h6>
                                </a>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="text-decoration-none text-dark">
                                    <img src="images/news/news_hospital_img3.jpg" class="img-fluid rounded mb-2" alt="News 3" />
                                    <h6>New fake it till you make it-program successful in recruiting new doctors</h6>
                                </a>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="text-decoration-none text-dark">
                                    <img src="images/news/news_hospital_img4.jpg" class="img-fluid rounded mb-2" alt="News 4" />
                                    <h6>Involountary handclapping connected to chronic fatigue</h6>
                                </a>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="text-decoration-none text-dark">
                                    <img src="images/news/news_hospital_img5.jpg" class="img-fluid rounded mb-2" alt="News 5" />
                                    <h6>Handsome doctors cure patients faster</h6>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Csharp3_A1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>