@page
@model Csharp3_A1.Pages.Menu.ChildPregnant.PregnantModel
@{
	ViewData["Title"] = "Pregnant";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row align-items-center">
            <div class="col">
                <!-- Header -->
                <h2>Welcome to Our Hospital Management System</h2>
            </div>

            <div class="col-auto">
                <!-- Content img -->
                <img src="~/images/content/index__hospital_img1.jpg" class="img-fluid content-img-wrapper rounded" />
            </div>
        </div>

        <div class="row-1 mt-2">
            <!-- Content txt-->
            <p class="lead">
                This is a prototype of the hospital management system. Here you can find general information, patient services, and staff resources.
            </p>

            <hr />

            <h4>Patient Services</h4>
            <p>
                Access your patient portal to view appointments, test results, and communicate with healthcare providers. (Placeholder text)
            </p>

            <h4>Staff Resources</h4>
            <p>
                Staff members can log in to manage schedules, view patient records, and collaborate with colleagues. (Placeholder text)
            </p>

            <h4>Latest Announcements</h4>
            <ul>
                <li>COVID-19 vaccination campaign updates</li>
                <li>New outpatient wing opening in Q4</li>
                <li>Annual health awareness seminar scheduled</li>
            </ul>
        </div>
    </div>
</div>