@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">

    <div class="container mt-2">
        <div class="position-relative row">
            <!-- Content img -->
            <img src="~/images/content/index_hospital_2.jpg" class="img-fluid opacity-75" />

            <!-- Header -->
            <div class="position-absolute mt-4 ms-4">
                <h1>Hospital</h1>
                <h1>Management</h1>
                <h1>System</h1>
            </div>
        </div>

        <div class="row-1 mt-2">
            <!-- Content txt-->
            <p class="lead">
                This is a prototype of the hospital management system. Here you can find general information, patient services, and staff resources.
            </p>

            <hr />

            <h4>Patient Services</h4>
            <p>
                Access your patient portal to view appointments, test results, and communicate with healthcare providers. (Placeholder text)
            </p>

            <h4>Staff Resources</h4>
            <p>
                Staff members can log in to manage schedules, view patient records, and collaborate with colleagues. (Placeholder text)
            </p>

            <h4>Latest Announcements</h4>
            <ul>
                <li>COVID-19 vaccination campaign updates</li>
                <li>New outpatient wing opening in Q4</li>
                <li>Annual health awareness seminar scheduled</li>
            </ul>
        </div>
    </div>
</div>
