@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital Management System</h1>
    <p>Hospital management</a>.</p>
</div>
