@page
@model Csharp3_A1.Pages.Patient.PatientPortalModel
@{
	ViewData["Title"] = "Patient Portal";
}

<div class="container mt-2">
	<div class="row">
		<div class="col">
			<div class="nav flex-column">
				<a class="nav-link active">Profile</a>
				<a class="nav-link">Appointments</a>
				<a class="nav-link">Medical Records</a>
				<a class="nav-link">Prescriptions</a>
			</div>
		</div>

		<div class="col-2 mt-2">
			<h2>Appointments</h2>
		</div>
	</div>
</div>
